body{
    font-family: "Kiwi Maru", serif;
    background-color: #F9F5EF;
    color: #29332D;

}

h1, h2, h3, h4, h5, h6{

    font-family: "Gravitas One", serif;
    font-weight: 400;
    font-style: normal;
    
}
h1{
    font-size: 30pt;
}

header{

    text-align: center;
}

#hero, footer{
    background-color: #98C688;
    padding: 10px;
    text-align: center;
}
/*Hero Section*/

#hero img{

    width: 300px;
}

/*Bio Section*/
#bio{
    text-align: left;
}

/*Hobbies Section*/
#hobbies{
    text-align: left;

}

#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin: 0.5rem 0; 
}


/*Gallery Section*/
#gallery{
    margin-bottom: 5rem;
}
#gallery img{
    max-width: 100%;
    
}
#gallery figure{
    text-align: center;

}

/*Video*/

#video{
    max-width: 100%;
    text-align: center;
    margin-bottom: 5rem;
}

/*Literature*/
#lit{
    margin-bottom: 2rem;
    text-align: center;
}

#lit div{
    padding: 0.5rem;
    max-width: 1;
    
}


#lit p:first-of-type::first-letter {
    font-size: 4rem; 
    font-weight: bold;
    float: left;
    margin-right: 0.5rem;
    line-height: 1;
    color: #4A4A4A; 
    font-family: 'Gravitas One', serif; 
}


@media screen and (min-width: 60em) {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
    }

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }
}

@media screen and (min-width: 60em) {
    #lit {
        max-width: 100%;
        columns: 40rem;
    }
}


@media screen and (min-width: 60em) {
    figcaption {
        font-size: 1.2rem; /* Smaller size so it's not too large */
    }
}


@media screen and (min-width: 100em) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr {
        display: none;
    }

    h2 {
        grid-column: 1 / -1;
    }

    figure {
        display: block; 
    }
}
