body{
    font-family: "Kiwi Maru", serif;
    background-color: #F9F5EF;
    color: #29332D;

}

h1, h2, h3, h4, h5, h6{

    font-family: "Gravitas One", serif;
    font-weight: 400;
    font-size: 30pt;
    font-style: normal;
}

header{

    text-align: center;
}

#hero, footer{
    background-color: #98C688;
    padding: 10px;
    text-align: center;
}

#hero img{

    width: 300px;
}

#bio{
    text-align: center;
}